__pycache__/
.vscode/
arc/
datasets/*
logs/
api_requests/
.env
api_results/
mnt/
figs/
data/
src_abdrepo/
src/knowledge_base/*
!src/knowledge_base/*.py
temp_upload_dir/
derma_dataset_imagefolder/
dataset_upload.log
x.py
xx.py